@model ViewModels.ViewModels.GraVm;

<form method="Post" asp-action="AddVm">
    <label asp-for="Tytul">Tytul</label>
    <input asp-for="Tytul">
    <label asp-for="RokWydania">Rok Wydania</label>
    <input asp-for="RokWydania">
    <label asp-for="Wydawnictwo">Wydawnictwo</label>
    <input asp-for="Wydawnictwo">
    <button type="submit">Dodaj</button>
</form>

